* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(0deg, rgba(8, 10, 14 ,0.6), rgba(5, 29, 133, 0.6));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 7px;
    width: 200px;
    padding: 20px;
    padding-bottom: 15px;
    background-color: #22252d;
}

.calculator_display {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    border:none;
    box-sizing: border-box;
    font-size: 32px;
    font-family: monospace;
    color: rgb(46, 44, 44);
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 15px auto;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #22252d;
    border:none;
    margin: 10px auto;
    cursor: pointer;
}

button[value="DEL"] {
    color: #26fbd5;
}
button[value="^"] {
    color: #26fbd5;
}
button[value="%"] {
    color: #26fbd5;
}
button[value="/"] {
    color: #26fbd5;
}
button[value="X"] {
    color: greenyellow;
}
button[value="-"] {
    color: red;
}
button[value="+"] {
    color: #26fbd5;
}

button:hover{
    background-color: transparent;
    color: rgb(71, 89, 255);
}

button[value="="]:hover {
    background-color: yellow;
    color: #333;
}
button[value="relo"]:hover {
    background-color: red;
    color: rgb(255, 255, 255);
}